$grid-gutter-width: 30px;
$primary:#6c5ce7;
$secondary:#CCF1FF;
$gradient:(to right top, #009bff, #4bacff, #71bdff, #93ceff, #b4deff, #b4deff, #b4deff, #b4deff, #93ceff, #71bdff, #4bacff, #009bff);
$gris:#3A3A3A;

html{
    margin: 0;
    padding:0;
    box-sizing:0;
}
body{
    margin:0;
    padding:0;
    background-image: url('https://img.pngio.com/city-158-anthracite-kids-carpet-kids-road-map-png-1000_1000.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    
}
form{
    margin: $grid-gutter-width*4 auto;
    background-color: $primary;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
    color: #EDE7DD;
    h1{
        margin: $grid-gutter-width auto;
        text-align: center;
        font-weight: 700;
    }
    h2{
        text-align: center;
        margin-top: $grid-gutter-width;
        color: $gris;
    }
    label{
        font-size: 1.5rem;
    }
    #trajet{
        width: 80%;
        margin: 0 auto;
    }

    .button-propal{
        width: 200px;
        padding: 0;
        margin: $grid-gutter-width auto;
        font-weight:700;
        color: $gris;
        background-color: white;
        border:2px solid $gris;
        font-size: 1.3rem;
        transition: 0.8s;
        &:hover{
            background-color:$gris;
            color: $primary;
            transition: 0.8s;
        }
    }
}
.form-group>input{
    width: 100%; 
    font-size: 1.3rem;
}
.col-form-label{
    font-size: 1.5rem;
}
.form-inline{
    select{
        font-size: 1.3rem;
    }
}
.calendrier{
    width: 250px;
    margin-left: 10%;
}

@media screen and (max-width: 760px) {
    form{
        width: 90%;
        h2{
            font-size:1.8rem;
        }
    }
}

@media screen and (max-width: 440px) {
    form{
        width: 90%;
        h2{
            font-size:1.8rem;
        }
    }
}
@media screen and (max-width: 346px) {
    form{
        
        h2{
            font-size:1.5rem;
        }
        input{
            height: 40px;
        }
        .calendrier{
            width: 80%;
        }
    }
}
