{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/profil.css') }}">
{% endblock %}

{% block title %}Profile!{% endblock %}

{% block body %}
    <div class="container container-form">
        <h1 class="container">Editez votre profil</h1>
                {{ form_start(form) }}
        <div class="IMAGINE">
                {{ form_widget(form) }}
        </div>
        <div class="button-box">
            <button type="submit" class="button-propal">Enregistrer</button>
        </div>
        {{ form_end(form) }}

    </div>

{% endblock %}