
{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/search.css') }}">
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css' rel='stylesheet'>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js'></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js'></script>
    <script src="https://kit.fontawesome.com/d0ad396109.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css' type='text/css' />
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css' rel='stylesheet'>
{% endblock %}

{% block title %}Rechercher un trajet !{% endblock %}

{% block body %}
<div class="searchBar" id="search">
    <h1>Choisissez votre déstination :</h1>
    <div class="box">
        <div class="inputSearch">
            <p>Départ :</p>
            <input id="inputdepart" type="text" name="form" placeholder="Ex: Paris" class="form-control">
            <ul id="resultdepart" class="searchResult"></ul>
        </div>
        <div class="inputSearch">
        <p>Destination :</p>
        <input id="inputarrive" type="text" name="to" placeholder="Ex: Rouen" class="form-control">
        <ul id="resultarrive" class="searchResult"></ul>
        </div>
        <div class="choiceSearch">
        <p>Date & Heure :</p>
        <input type="datetime-local" name="rdv" class="form-control">
        </div>
        <button type="submit" id="btnPosition" class="btn btn-outline-primary">Trouver</button>
    </div>
</div>

<div id="listTrajet" class="asideResult">
    <h2>Résultats de votre recherche :</h2>
    <div class="list"></div>
</div>

<div id='map'></div>
{% endblock %}



    {% block javascripts %}
        <script src="{{ asset('build/recherche.js') }}" type="text/javascript"></script>
        <script src="{{ asset('build/test.js') }}" type="text/javascript"></script>

    {% endblock %}
