
{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/search.css') }}">
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css' rel='stylesheet'>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js'></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js'></script>
    <script src="https://kit.fontawesome.com/d0ad396109.js" crossorigin="anonymous"></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css' rel='stylesheet'>
{% endblock %}

{% block title %}Rechercher un trajet !{% endblock %}

{% block body %}
<div class="searchBar" id="search">
    <h1>Choisissez votre déstination :</h1>
    <div class="box">
        <div class="inputSearch">
            <p>Départ :</p>
            <input id="inputdepart" type="text" name="form" placeholder="Ex: Paris" class="form-control">
            <ul id="resultdepart" class="searchResult"></ul>
        </div>
        <div class="inputSearch">
        <p>Destination :</p>
        <input id="inputarrive" type="text" name="to" placeholder="Ex: Rouen" class="form-control">
        <ul id="resultarrive" class="searchResult"></ul>
        </div>
        <div class="choiceSearch">
        <p>Date & Heure :</p>
        <input type="datetime-local" name="rdv" class="form-control">
        </div>
        <button type="submit" id="btnPosition" class="btn btn-outline-primary">Trouver</button>
    </div>
</div>

<div id="listTrajet" class="asideResult">
    <h2>Résultats de votre recherche :</h2>
    <div class="list"></div>
</div>
 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js">
 <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css' type='text/css' />
<div id='map'></div>
 
<script>

$(document).ready(function() {
   $('#btnPosition').click(function(){
      $('#search').replaceWith('#listTrajet');
   });
});

mapboxgl.accessToken = 'pk.eyJ1IjoieHdpenoiLCJhIjoiY2swbmpybTF4MDBrYTNtbXg3eTkyeWFleiJ9.LJrZc-HtZqUtNB63_66cbQ';
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/light-v10',
    center: [2.5, 46.5],
    zoom: 5.60,
});
 
map.addControl(new mapboxgl.NavigationControl());

var listTrajet = document.querySelector('#listTrajet .list');
var listResult = [
    { 
        text: "Trajet 1", 
        latitude_depart: "49.477297", 
        longitude_depart: "1.087807", 
        latitude_arrivee: "49.475784", 
        longitude_arrivee: "1.085822"
    },
    { 
        text: "Trajet 2",
        latitude_depart: "49.459763", 
        longitude_depart: "1.064371", 
        latitude_arrivee: "49.475784", 
        longitude_arrivee: "1.085822"
    },
    { text: "Trajet 3"},
    { text: "Trajet 4"}
]

function displayListTrajet(list){
    while(listTrajet.firstChild){
        listTrajet.removeChild(listTrajet.firstChild);
    }

    list.map(function(trajet){
        let btn = document.createElement('button');
        btn.className = "asideSearchResult";
        btn.innerHTML = trajet.text;

        btn.setAttribute('latitude_depart', trajet.latitude_depart);
        btn.setAttribute('longitude_depart', trajet.longitude_depart);
        btn.setAttribute('latitude_arrivee', trajet.latitude_arrivee);
        btn.setAttribute('longitude_arrivee', trajet.longitude_arrivee);

        btn.addEventListener("click", trajetClick);

        listTrajet.appendChild(btn);
    })
}

displayListTrajet(listResult);

function trajetClick(event){
    
    let url = "https://api.mapbox.com/directions/v5/mapbox/driving/" +
    event.target.getAttribute("longitude_depart") + "," + event.target.getAttribute("latitude_depart")+ ";" +
    event.target.getAttribute("longitude_arrivee") + "," + event.target.getAttribute("latitude_arrivee") +
    "?geometries=geojson&access_token=" + mapboxgl.accessToken;

    fetch(url).then(function(response){
        return response.json();
    }).then(function(data){
        
        if(map.getSource("trajet")){
            map.getSource("trajet").setData({
                "type": "Feature",
                "properties": {},
                "geometry": data.routes[0].geometry
            })
        } else {
            map.addSource("trajet", {
                "type": "geojson",
                "data": {
                    "type": "Feature",
                    "properties": {},
                    "geometry": data.routes[0].geometry
                }
            });
        }

        if(!map.getLayer('route')){
            map.addLayer({
                "id": "route",
                "type": "line",
                "source": "trajet"
            })
        }


        //setLngLat([longitude, latitude])
        //parseFloat(string)


        let coordinates = data.routes[0].geometry.coordinates;
        let bounds = coordinates.reduce(function(bounds, coord) {
            return bounds.extend(coord);
        }, new mapboxgl.LngLatBounds(coordinates[0], coordinates[0]));
        
        map.fitBounds(bounds, {
            padding: 200
        });
    })
}


var inputdepart = document.getElementById("inputdepart");
var resultdepart = document.getElementById("resultdepart");

function razDepartSearch() {
    while(resultdepart.firstChild){
        resultdepart.removeChild(resultdepart.firstChild);
    }
}

function clickResultDepart(event) {
    console.log(event);
    inputdepart.value = event.target.innerText;

    razDepartSearch();
    
    resultdepart.style.display = "none";
}


inputdepart.addEventListener('keyup', function() {
    console.log(inputdepart.value)

    if(inputdepart.value === ""){
        razDepartSearch();
        resultdepart.style.display = "none";
        return;
    }
        
    resultdepart.style.display = "block";

    fetch("https://api.mapbox.com/geocoding/v5/mapbox.places/" + inputdepart.value + ".json?types=place,locality&access_token=" + mapboxgl.accessToken)
        .then(function(response){
            return response.json();
        })
        .then(function(data){
            let list = data.features.map(function(el){
                return {
                    name: el.place_name,
                    center: el.center
                }
            })
            console.log("result", list)

            razDepartSearch();
            
            for(let i=0; i<list.length; i++){
                let li = document.createElement('li');

                li.innerHTML = list[i].name;

                li.addEventListener('click', clickResultDepart);
                
                resultdepart.appendChild(li);
            }
        })
})


    var inputarrive = document.getElementById("inputarrive");
    var resultarrive = document.getElementById("resultarrive");

    function razArriveSearch() {
        while(resultarrive.firstChild){
            resultarrive.removeChild(resultarrive.firstChild);
        }
    }

    function clickResultArrive(event) {
        console.log(event);
        inputarrive.value = event.target.innerText;
        
        razArriveSearch();
        
        resultarrive.style.display = "none";
    }

    inputarrive.addEventListener('keyup', function() {
        console.log(inputarrive.value)

        if(inputarrive.value === ""){
            razArriveSearch();
            resultarrive.style.display = "none";
            return;
        }
            
        resultarrive.style.display = "block";

        fetch("https://api.mapbox.com/geocoding/v5/mapbox.places/" + inputarrive.value + ".json?types=place,locality&access_token=" + mapboxgl.accessToken)
            .then(function(response){
                return response.json();
            })
            .then(function(data){
                let list = data.features.map(function(el){
                    return {
                        name: el.place_name,
                        center: el.center
                    }
                })
                console.log("result", list)

                razArriveSearch();
                
                for(let i=0; i<list.length; i++){
                    let li = document.createElement('li');

                    li.innerHTML = list[i].name;

                    li.addEventListener('click', clickResultArrive);
                    
                    resultarrive.appendChild(li);
                }
            })
    })

</script>




{% endblock %}