{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/proposer.css') }}">
{% endblock %}

{% block title %}Trajet!{% endblock %}

{% block body %}
<div class="container">
    {{ form_start(form) }}
    <h1 class="container">Créer et proposer votre trajet</h1>
    {{ form_widget(form) }}
    <button type="submit" class="button-propal">Enregistrer</button>
    {{ form_end(form) }}
</div>

{% endblock %}