
{% extends 'base.html.twig' %}


{% block title %}Hello SecurityController!{% endblock %}

{% block body %}

    <h1 class="container">Connexion</h1>


    <form action="{{ path('security_login') }}" method="post">
        <div class="form-group">
            <input type="text" placeholder="Adress email" required name="_username" class="form-control">
        </div>
        <div class="form-group">
            <input type="password" placeholder="Mot de passe" required name="_password" class="form-control">
        </div>
        <div class="form-group">
            <p>Si vous n'avez pas de compte <a href="{{ path('security_registration') }}">Inscrit vous ici !</a></p>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">connexion</button>
        </div>
    </form>
{% endblock %}
