
{% extends 'base.html.twig' %}


{% block title %}Hello SecurityController!{% endblock %}

{% block body %}
    <h1 class="container">Connexion</h1>


    <form action="">


    </form>
{% endblock %}
