.nav-item{
    list-style-type: none;
}

.navbar{
    background-color: rgb(79, 116, 101);
}

.navbar{
    border: none;
}

nav{
    position: absolute;
    list-style-type: none;
    z-index: 999999;
}

.navBtn>.button{
    padding: 10px;
    background-color: red;
    color: rgb(10, 10, 10);
    text-decoration: none;
}
