html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.corps {
    margin: 0;
    padding: 0;
}
.corps .lientmort:hover {
    text-decoration: none;
    color: #C5FFF7;
}

.column {
    width: 80%;
    margin: 0 auto;
}

.boite-lateral {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 120px;
}
.boite-lateral .box-img {
    border-radius: 5%;
    width: 350px;
    height: 350px;
    background-image: url('http://localhost:8000/img/11.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.75);
}
.boite-lateral .bloc-text {
    width: 40%;
    margin: auto 0;
    line-height: 1.8rem;
    font-size: 1.2rem;
    text-align: justify;
}

.call-to-action {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 120px 0;
    background-color: #C5FFF7;
    align-items: center;
    color: #3A3A3A;
}
.call-to-action h2 {
    font-size: 2.5rem;
    letter-spacing: 0.7rem;
    font-weight: 700;
    margin-bottom: 0;
    margin: 30px 0;
}
.call-to-action a {
    font-size: 1.8rem;
    text-decoration: none;
    color: #C5FFF7;
    background-color: #3A3A3A;
    border-style: solid;
    border-color: #3A3A3A;
    border-radius: 25px;
    padding: 15px 60px;
}

.boite-ligne {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.boite-ligne .carac-box {
    width: 200px;
    height: auto;
}
.boite-ligne .carac-box .img-cara {

}
.boite-ligne .carac-box .img-cara img {
    margin: 30px 0;
}
.boite-ligne .carac-box .text-cara {
    display: flex;
    justify-content: center;
}
.boite-ligne .carac-box p {
    width: 55%;
    text-align: justify;
    margin: 30px 0;
    font-size: 1.1rem;
}

.container-fiche {
    width: 100%;
    background-color: #C5FFF7;
    margin: 120px 0;
    padding: 60px 0;
}
.container-fiche .fiche {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block-card {
    position: relative;
    width: 350px;
    height: 700px;
}
.block-card .img-pp {
    height: 150px;
    width: 150px;
    background-color: #3A3A3A;
    border-radius: 90px;
    position: absolute;
    left: calc(50% - 75px);
    z-index: 300;
    background-position: center;
    background-size: cover;
}
.block-card .whitee {
    height: calc(700px - 75px);
    width: 350px;
    background-color: white;
    position: absolute;
    bottom: 0;
}
.block-card .whitee .pp-text {
    height: calc(700px - 150px);
    margin-top: 75px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.block-card .whitee .pp-text h3 {
    text-align: center;
    color: #3A3A3A;
}
.block-card .whitee .pp-text .sub-bar {
    background-color: #3A3A3A;
    height: 5px;
    width: 80%;
}
.block-card .whitee .pp-text input {
    width: 100px;
    margin: 30px auto;
    background-color: transparent;
    color: #3A3A3A;
    border: 2px solid #3A3A3A;
    border-radius: 30px;
    font-weight: 700;
}
.block-card .whitee .pp-text .travel-box {
    width: 80%;
    margin: 0 auto;
}
.block-card .whitee .pp-text .travel-box p {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
}

.fiche-bloc-reso .fiche-reso {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}
.fiche-bloc-reso .fiche-reso img {
    height: 30px;
    width: 30px;
}
.fiche-bloc-reso hr {
    width: 250px;
    height: 1px;
    background-color: #3A3A3A;
}

.travel-time {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.line-car {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.line-car img {
    height: 50px;
    width: 70px;
}
.line-car p {
    font-size: 1.3rem;
    margin: 0;
}

footer {
    margin-top: 120px;
    background-color: #C5FFF7;
    color: #3A3A3A;
}
footer h2 {
    margin: 0;
}
footer a {
    text-decoration: none;
    color: black;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px 0;
}

.footer-block {
    display: flex;
    flex-direction: column;
    width: 20%;
}
.footer-block hr {
    height: 2px;
    width: 100%;
    background-color: #3A3A3A;
    margin-bottom: 30px;
}

.box-arrow {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.box-arrow img {
    width: 30px;
    height: 30px;
    margin-right: 30px;
}

.media-block {
    width: 35%;
}
.media-block hr {
    height: 2px;
    width: 100%;
    background-color: #3A3A3A;
    margin-bottom: 30px;
}
.media-block .social-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.media-block .social-box img {
    height: 80px;
    width: 80px;
}

@media screen and (max-width: 1476px) {
    .container-fiche .fiche {
        display: flex;
        flex-direction: column;
        width: 350px;
        margin: 0 auto;
    }

    .block-card {
        margin: 120px auto;
    }

    footer h2 {
        font-size: 1.8rem;
    }
}
@media screen and (max-width: 1396px) {
    .boite-lateral {
        flex-direction: column;
    }
    .boite-lateral .box-img {
        width: 100%;
    }
    .boite-lateral .bloc-text {
        width: 100%;
        margin: 60px 0 0 0;
    }

    .call-to-action h2 {
        font-size: 2rem;
    }
    .call-to-action a {
        font-size: 1.3rem;
    }

    .boite-ligne {
        flex-direction: column;
    }
    .boite-ligne .cara-box {
        display: flex;
        flex-direction: row;
    }

    footer h2 {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 1150px) {
    .call-to-action h2 {
        font-size: 1.8rem;
    }
    .call-to-action a {
        font-size: 1.1rem;
        padding: 15px 30px;
    }
}
@media screen and (max-width: 925px) {
    .boite-lateral .bloc-text {
        font-size: 1rem;
    }

    .call-to-action {
        flex-direction: column;
    }
    .call-to-action h2 {
        letter-spacing: 0.3rem;
    }
    .call-to-action a {
        margin-bottom: 30px;
    }

    .boite-ligne .carac-box .text-cara p {
        font-size: 1rem;
    }
    .boite-ligne .carac-box .img-cara img {
        height: 120px;
        width: 120px;
    }

    footer .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    footer .footer-block {
        width: 100%;
        margin-bottom: 30px;
        padding-left: 30px;
    }
    footer .footer-block h2 {
        margin-bottom: 15px;
    }
    footer .footer-block hr {
        display: none;
    }
    footer .media-block {
        width: 100%;
    }
    footer .media-block h2 {
        display: none;
    }
}
@media screen and (max-width: 600px) {
    .boite-lateral .box-img {
        height: 200px;
    }

    .call-to-action h2 {
        font-size: 1.5rem;
        letter-spacing: 0;
    }
    .call-to-action a {
        text-align: center;
        padding: 8px;
    }
}
@media screen and (max-width: 470px) {
    .container-fiche .fiche {
        width: 250px;
    }

    .block-card {
        width: 250px;
        margin: 60px auto;
    }
    .block-card .whitee {
        width: 250px;
    }
    .block-card .img-pp {
        width: 120px;
        height: 120px;
        left: calc(50% - 60px);
    }

    .media-block .social-box img {
        height: 60px;
        width: 60px;
    }
}

/*# sourceMappingURL=home.css.map */
